<section class="grey">
    <div class="container">
        <div class="row foot-top">
            <div class="col-md-4">
                <div class="foot-first">
                    <img src="assets/img/zeezworld.png" alt="" class="img-responsive">
                    <h2> 21st Century Thrift Collection system that you can trust to grows your wealth</h2>

                    <p>Give us a try today and you will be convinced</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="ul-list">
                    <li class="active">Quick Links</li>
                    <li>About</li>
                    <li>Our Clients</li>
                    <li>Agents</li>
                    <li>Contact</li>
                    <li>Login</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="ul-address">
                    <li class="active">Contact Us</li>
                    <li>43, Cemetery Road, Off New Yidi <br>Road, Irewolede, Ilorin, Nigeria. </li>
                    <li class="fa fa-phone">+234 906 560 0563</li>
                    <li class="fa fa-envelope">zeezmegaworldltd@gmail.com</li>
                </ul>
                <ul class="ul-social">
                    <li class="fa fa-facebook"></li>

                    <li class="fa fa-twitter"></li>

                    <li class="fa fa-instagram"></li>
                </ul>
            </div>
        </div>
    </div>
</section>